@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
}

.app-wrapper {
  height: calc(100vh - 260px);
  overflow-y: auto;
  background-color: transparent;
  background-image: linear-gradient(190deg, #22242a 46%, #a433a6 100%);
}

.app-header {
  background-color: #111111;
}

.app-header-action {
  background-color: transparent;
  background-image: linear-gradient(90deg, #00face 0%, #ab17df 100%);
}

.app-header-action > svg path {
  fill: #fff;
}

.app-banner {
  background-color: #04fccc;
}

.app-button {
  background-color: transparent;
  background-image: linear-gradient(90deg, #00face 0%, #ab17df 100%);
  color: white;
  cursor: pointer;
}

.app-social {
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
  background: #ffffff1f;
}

.app-social:hover {
  background: #ffffff61;
}

.app-social svg {
  width: 40px;
  height: 40px;
}

.app-social svg path {
  fill: white;
}
